# Debugging
debugpy

# Dependency maintenance
pip-tools

# Testing
pytest
pytest-cov
pytest-qgis

# qgis tooling
qgis_plugin_tools

# Linting and formatting
pre-commit
mypy
ruff
flake8
flake8-qgis

# Stubs
PyQt5-stubs
qgis-stubs
